<div class="bg-cyan-800 text-white p-2 text-center items-center flex justify-between shadow-md">
    <h1 class="font-bold text-xl italic"><%= link_to "MiahAbalos", root_path %></h1>
    <div class="flex gap-2 items-center">
      <% if user_signed_in? %>
        <button class="text-blue-500 bg-white p-1 px-2 font-bold text-xs rounded-md shadow-md"><%= link_to "New Article", new_article_path %></button>
        <%= form_with url: destroy_user_session_path, class: "h-6 flex", method: :delete do |form| %>
          <button class="text-red-500 bg-white p-1 px-2 font-bold text-xs rounded-md shadow-md" type="submit">Sign Out</button>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% end %>
      <% else %>
        <button class="text-blue-500 bg-white p-1 px-2 font-bold text-xs rounded-md shadow-md"><%= link_to "Sign In", new_user_session_path %></button>
      <% end %>
    </div>
</div>
